<section class="bg-dark">
    <div class="row g-0">
        <div class="col-lg-7 d-none d-lg-block">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item min-vh-100 img-1 active">
                    </div>
                    <div class="carousel-item min-vh-100 img-2">
                    </div>
                    <div class="carousel-item min-vh-100 img-3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-lg-5 d-flex flex-column align-items-end min-vh-100">
            <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 w-100 mb-auto">
                <img src="/img/logo.jpg" class="img-fluid logo">
            </div>
            <div class="px-lg-5 py-lg-4 p-4 w-100 align-self-center">

                <h2 class="fw-bold mb-3">Bienvenido Ciclista</h2>

                <form class="mb-5" action="/signup" method="POST">
                    <div class="mb-4">
                        <label for="exampleInputEmail1" class="form-label fw-bold">Email</label>
                        <input type="email" name="userEmail" class="form-control bg-dark-x border-0"
                            placeholder="Ingresa tu email" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-4">
                        <label for="exampleInputName" class="form-label fw-bold">Nombre</label>
                        <input type="text" name="userName" class="form-control bg-dark-x border-0"
                            placeholder="Ingresa tu nombre" id="exampleInputName">
                    </div>
                    <div class="mb-4">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Contraseña</label>
                        <input type="password" name="userPassword" class="form-control bg-dark-x border-0 mb-2"
                            placeholder="Ingresa tu contraseña" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary w-100 fw-bold">Crear Cuenta</button>
                </form>
            </div>
            <div class="text-center px-lg-5 pt-lg-4 pb-lg-3 p-4 w-100 mt-auto">
                <p class="d-inline-block mb-0">¿Ya tienes una cuenta?</p> <a href="/signin"
                    class="text-light fw-bold text-decoration-none">Inicia Sesión</a>
            </div>
        </div>

    </div>
</section>

<!--<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registrarse</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <input type="email" name="userEmail" placeholder="Correo" class="form-control" autofocus>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" name="userName" placeholder="Nombre" class="form-control">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="password" name="userPassword" placeholder="Contraseña" class="form-control">
                        </div>
                        <br>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Registrarse
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>-->